
@media(min-width:535px) and (max-width:850px){
  [class*="col-"]{
    width:100%;
  }

#panda-about{
  padding: 6em 10em;
}
  .abaut{
  background-color:#E9967A;
  width: 100%;
  }

.picturesfour{
  border:0.3em solid white;
  margin:1em 1em;
  padding:0;
  height: 165px;
  width: 165px;
  margin-left: 60px;
}

}
